.form {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  margin: 20ex auto;
  gap: 15px;
  padding: 30px;
  border: 1px solid black;
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
}

.input {
  border: 1px solid rgb(182, 176, 176);
  border-radius: 5px;
  background-color: rgba(63, 101, 150, 0.438);
}

.form_title {
  width: fit-content;
  margin: 0 auto;
  font-weight: 500;
}

label {
  display: flex;
  flex-direction: column;
}

.sign_up_button {
  border-radius: 6px;
  border: 1px solid grey;
  padding: 4px 0px;
  margin: 20px 0px;
  background-color: rgb(150, 45, 59);
  color: white;
  font-size: small;
}